RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond $1 !^(css|js|images|inc|lang)
Options +FollowSymLinks
RewriteEngine On


RewriteRule ^iletisim$ iletisim.php [N,L]
RewriteRule ^anasayfa$ index.php [N,L]
RewriteRule ^hakkimizda$ hakkimizda.php [N,L]
RewriteRule ^satilik$ satilik.php [N,L]
RewriteRule ^arama$ arama.php [N,L]
RewriteRule ^yonetim/qrkod$ yonetim/qrkod.php [N,L]


RewriteRule ^satilik-konut$ satilik.php?ilan=konut [L,QSA]


RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)$ ilan.php?sef=$1&id=$2  [L,QSA]

RewriteRule ^satilik-arsa$ satilik.php?ilan=arsa [L,QSA]
RewriteRule ^satilik-isyeri$ satilik.php?ilan=isyeri [L,QSA]
RewriteRule ^kiralik-konut$ kiralik.php?ilan=konut [L,QSA]
RewriteRule ^kiralik-arsa$ kiralik.php?ilan=arsa [L,QSA]
RewriteRule ^kiralik-isyeri$ kiralik.php?ilan=isyeri [L,QSA]
