.breadcrumb {

    background-color: #ffffff !important;
  }
  .ilan {

    margin-left: auto;
    margin-right: auto;

  }
  .page-item.active .page-link {
  background-color: #6ec7e0 !important;
  color: white;
  border-color: #6ec7e0 !important;
}
.pagination>li>a:hover, .pagination>li>a:focus, .pagination>li>a:active, .pagination>li.active>a, .pagination>li.active>span, .pagination>li.active>a:hover, .pagination>li.active>span:hover, .pagination>li.active>a:focus, .pagination>li.active>span:focus {
  background-color: #6bd098 !important;
  border-color: #6bd098 !important;
  color: #FFFFFF;
}
  .embed-responsive .card-img-top {
    object-fit: cover;
  }
  .dgn{

    height:33px !important; 
    width:86px !important;
   
  }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .dropdown-item:hover {
    background-color: #6ec7e0 !important;
  }

  .navbar .navbar-collapse:after {
    background-color: #FFFFFF !important;
  }

  .dropdown-item:active .dropdown-menu .dropdown-item:focus 
  {
  background-color: #6bd098 !important;

  }
  .ck {
    max-width: 70px !important;
  }

  .cll {
    color: #6c757d !important;
    border: 2px solid #17a2b8 !important;
  }
  .rsm1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}
.ekko-lightbox-nav-overlay a {
    color: #101010 !important;
}
.carousel-cell {
    counter-increment: gallery-cell;
}
.modal-body {
    padding: 0px 0px 0px 0px !important;
}
.modal-header

{
    display: none !important;
}
.modal-content {
    box-shadow: none !important;
    background-color: transparent !important;
}
.breadcrumb {
    background-color: #ffffff !important;
}

